@import "var";
@import "mix";

.livwell-video-add {
  padding-bottom: 0px;
  padding: 20px;
}

.add-btn {
  @include btn;
  background: #900968;
}

.cancle-btn {
  @include btn;
  background: #868285;
}

.btn-section {
  display: flex;
  margin-top: 18px;
}

.form-title {
  margin-bottom: 18px;
  width: 100%;
  padding: 0px 15px;
  font-size: 21px !important;
}

.permission_table th,
.permission_table td {
  padding: 10px 5px;
}

.permission_table {
  overflow: auto;
  width: 100%;
  padding: 0px 16px;
  table {
    width: 100%;
    border: 1px solid $secondary-light;
    thead {
      background: $primary;
      th {
        font-size: 18px;
        color: $white;
        padding: 15px 5px;
        @media (max-width: 767px) {
          font-size: 16px;
        }
      }
    }
    tbody {
      td {
        font-size: 16px;
        white-space: nowrap;
        border-bottom: 1px solid $secondary-light;
      }
    }
  }
  .mat-checkbox {
    margin-right: 10px;
    display: block;
    margin-bottom: 4px;
  }
  .name {
    margin-right: 10px;
  }
}
