@import "var";

.breadcrumb {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
  span {
    cursor: pointer;
    outline: none;
    transition: 0.3s ease all;
    &:hover {
      color: $primary;
    }
  }
  .mat-icon {
    width: 30px;
    height: 14px;
    font-size: 14px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
  }
  span:nth-last-child(2) {
    color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
  }
  .mat-icon:last-child {
    display: none;
  }
}

@media (max-width: 882px) {
  .breadcrumb {
    font-size: 12px;
    .mat-icon {
      font-size: 12px;
    }
  }
}
