agm-map {
    height: 300px;
    position: relative;
}

.mat-dialog-title{
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width:767px) {
        font-size: 18px;
    }
}
