::ng-deep .mat-select-panel {
  max-height: 217px !important;
  overflow-x: hidden !important;
  .mat-option-text {
    max-width: 100%;
    ._countryCode {
      position: absolute;
      top: 0;
      right: 16px;
    }
  }
}
