:host {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    transition: all .3s ease-in-out;
  }
  
  .uploader__header {
    // margin: 3px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .uploader__label {
    color: #444;
    font-size: 16px;
    margin: 10px 0px;
  }
  
  .uploader__body {
    // margin: 10px 0;
    background-color: rgba(0, 0, 0, 0.02);
    border: 1px dashed rgba(144, 9, 104, 0.39);
    min-width: 100%;
    max-width: fit-content;
    // margin-bottom: 20px;
  }
  
  .uploader__body--active {
    border: 1px solid rgba(#000, .8);
  }
  
  .uploader__placeholder {
    // height: 140px;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: rgba(#000, .3);
    user-select: none;
    cursor: pointer;
    padding: 10px;
    mat-icon {
        font-size: 50px;
        width: 50px;
        height: 48px;
    }
  }
  
  .uploader__preview {
    width: 100%;
    user-select: none;
    overflow-x: auto;
    overflow-y: hidden;
    text-align: center;
    white-space: nowrap;
    // display: flex;
    // align-items: flex-start;
  }
  
  .uploader__file {
    display: inline-block;
    margin: 5px;
    // height: 320px;
    height: 300px;
    // width: 110px;
    border: 1px solid #FFF;
    transition: all .3s ease-in-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    position: relative;
    cursor: pointer;
    img,
    video {
        height: 100%;
        width:100%;
        object-fit: cover;
        transition: all .3s ease-in-out;
    }
    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
        img {
            filter: blur(0.7px);
        }
        .file-button {
            opacity: 1;
        }
    }
  }
  
  .file-button {
    position: absolute;
    right: 0;
    top: 0;
    // transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .3s linear;
    button {
        margin: 2px;
        background-color: #FFF;
        box-shadow: 0 0 2px rgba(#000, .2);
        height: 28px !important;
        width: 28px !important;
        line-height: 28px !important;
        mat-icon {
            font-size: 18px !important;
            height: 18px !important;
            width: 18px !important;
            line-height: 18px !important;
        }
        &:not(:hover) {
            color: #900968 !important;
        }
        &:hover {
            box-shadow: 0 0 3px rgba(#000, .2);
        }
    }
  }
  
  .uploader__error {
    display: block;
    padding: 10px;
    height: 0px;
    color: red;
    font-size: 14px;
    opacity: 0;
  }
  
  .uploader__error--show {
    animation: animate-error .3s ease-in-out forwards;
  }
  
  @keyframes animate-error {
    0% {
        opacity: 0;
        height: 0;
    }
    60% {
        opacity: 0;
        height: 34px;
    }
    100% {
        opacity: 1;
        height: 34px;
    }
  }
  .customPlaceholder
  {
    color: #913868 !important;
    background: #e2e2e2;
  }
  .customCss
  {
    box-shadow: 0px 0px 2px 0px #00000052;
    border:none;
  }
  