<mat-card>
  <div class="row">
    <div class="col-xl-12 col-md-12 col-12 ">
      <form [formGroup]="charityForm" (ngSubmit)="charityHandler()">
        <div class="row">
          <div class="col-xl-12 col-12 mb-2 ">
            <div class="article-crop-section">
              <label class="custom-margin span-images">Charity Logo (Required)</label>
              <div class="img image_uploader" [ngClass]="{'shakeError': f.logo.hasError('image')}">
                <lv-lazy-image [img]="cropFile?.cropBase64"></lv-lazy-image>
                <button type="button" mat-mini-fab color="primary" class="uploab-btn" (click)="onSelectFile()">
                  <mat-icon>camera_alt</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-12">
            <mat-form-field appearance="outline">
              <mat-label>Charity Name</mat-label>
              <input matInput [maxlength]="_limit?.MAX_NAME_LENGTH" formControlName="name" autocomplete="off" required>
              <mat-error>{{errMsg.CHARITY_NAME_REQ}}</mat-error>
            </mat-form-field>
          </div>

          <div class="col-xl-4 col-lg-4 col-md-6 col-12">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input #email matInput type="email" (blur)="trimValues()" [prevent-keys]="[32]"
                [maxlength]="_limit?.MAX_EMAIL_LENGTH" formControlName="email" required />
              <mat-error *ngIf="f.email.hasError('required')">{{errMsg?.EMAIL_REQ}}</mat-error>
              <mat-error *ngIf="f.email.hasError('pattern')">{{errMsg?.INVALID_EMAIL}}</mat-error>
            </mat-form-field>
          </div>

          <div class="col-xl-4 col-lg-4 col-md-6 col-12">
            <mat-form-field appearance="outline">
              <mat-label>Charity Contact No.</mat-label>
              <input matInput number [maxlength]="_limit?.MAX_MOBILE_LENGTH"
                [minlength]="_limit?.MIN_MOBILE_LENGTH" formControlName="mobileNo" autocomplete="off" required>
              <mat-error *ngIf="f['mobileNo'].hasError('required')">{{errMsg.CHARITY_MOB_NO}}</mat-error>
              <mat-error *ngIf="f['mobileNo'].hasError('minlength')">{{errMsg.MIN_MOB_NO}}</mat-error>
              <mat-error *ngIf="f['mobileNo'].hasError('pattern') && !f['mobileNo'].hasError('minlength')">
                {{errMsg.INVALID_CHARITY_MOB_NO}}</mat-error>
            </mat-form-field>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6 col-12">
            <mat-form-field appearance="outline">
              <mat-label>Charity Link</mat-label>
              <input matInput formControlName="websiteLink" autocomplete="off" required>
              <mat-error>{{errMsg.CHARITY_LINK}}</mat-error>
            </mat-form-field>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6 col-122">
            <mat-form-field appearance="outline" (click)="openGoogleMap()">
              <mat-label> Select Address </mat-label>
              <input matInput placeholder="Select Location" formControlName="address" readonly />
              <mat-icon matSuffix color="primary">place</mat-icon>
              <mat-error>{{errMsg.CHARITY_LOCATION}}</mat-error>
            </mat-form-field>
          </div>



          <ng-container formGroupName="description">
            <div class="col-xl-6 col-lg-6 col-md-6 col-12">
              <mat-form-field appearance="outline">
                <mat-label> Charity Description (In English)</mat-label>
                <textarea type="text" #disc1 matInput formControlName="en" [maxlength]="_limit?.DESCRIPTION_MAX"
                  required></textarea>
                <mat-hint align="end">{{disc1.value.length}} / {{_limit?.DESCRIPTION_MAX}}
                </mat-hint>
                <mat-error>{{errMsg.CHARITY_DESCRIPTION}}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-12">
              <mat-form-field appearance="outline">
                <mat-label> Charity Description (In Vietnamese)</mat-label>
                <textarea type="text" #disc2 matInput formControlName="vi" [maxlength]="_limit?.DESCRIPTION_MAX_VI"
                  required></textarea>
                <mat-hint align="end">{{disc2.value.length}} / {{_limit?.DESCRIPTION_MAX_VI}}
                </mat-hint>
                <mat-error>{{errMsg.CHARITY_DESCRIPTION}}</mat-error>
              </mat-form-field>
            </div>
          </ng-container>

        </div>
        <div class="row">
          <div class="col btn-section">
            <button type="button" class="cancle-btn" (click)="cancelHandler()">Cancel</button>
            <button type="submit" class="add-btn">{{ charityId? 'Update': 'Add' }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</mat-card>