@import "var";
@import "mix";
@import "grid";

.top-section {
  padding: 10px 0px;
}
.image-video-section {
  display: flex;
  justify-content: center;
  @media (max-width: 576px) {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.add-btn {
  @include btn;
  background: $primary;
}
.cancle-btn {
  @include btn;
  background: #868285;
}
.btn-section {
  display: flex;
  margin-bottom: 20px;
}

.file-input {
    display: none;
  }

  .reels_span_block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0px 0px 0px 0px #00000033;
    padding: 5px;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
 