<div class="panel-wrap">
  <lv-data-loader *ngIf="isApiCallInProgress;else apiHit"></lv-data-loader>
  <ng-template #apiHit>
    <div class="panel">
      <div class="col-xl-12">
        <div class="row">
          <div class="col-sm-6 col-6 panel-header"> Article Details</div>
          <div class="col-sm-6 col-6 form-group btn-section {{permissionClass}}">
            <button title="Edit Article" mat-icon-button (click)="editHandler()">
              <mat-icon class="edit-icons" color="primary">edit</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row ">
          <div class="col-12 col-sm-5 col-md-4 col-lg-3 detils-sections-image">

            <div class="detail-image">
              <figure class="img">
                <lv-lazy-image [img]="articleDetails?.image">
                </lv-lazy-image>
              </figure>
            </div>

          </div>
          <div class="col-12 col-xl-9">

            <div class="detail-row ">
              <div class="form-group">
                <label class="el_name">Article Title</label>
                <label class="el_value">{{articleDetails?.title |titlecase}}</label>
              </div>
              <div class="form-group">
                <label class="el_name">Author Name</label>
                <label class="el_value">{{articleDetails?.authorName |titlecase |emptyValue}}</label>
              </div>
              <div class="form-group">
                <label class="el_name">Category</label>
                <label class="el_value">{{articleDetails?.categoryId?.name?.en |titlecase}}</label>
              </div>
              <div class="form-group">
                <label class="el_name">Recommended Article</label>
                <label class="el_value">{{articleDetails?.isRecommended ? 'Yes' : 'No'}}</label>
              </div>
              <div class="form-group">
                <label class="el_name">Article Link</label>
                <label class="el_link">
                  <a [title]="articleDetails?.articleLink" href="{{articleDetails?.articleLink}}" target="_blank"
                    class="detail-links">
                    {{articleDetails?.articleLink}}
                  </a>
                  <span class="clipboard"> <button mat-icon-button class="copy-btn-color" title="Copy Link to Clipboard"
                      (click)="copyLink(articleDetails?.articleLink)" *ngIf="articleDetails?.articleLink">
                      <mat-icon class="copy-icon">file_copy</mat-icon>
                    </button></span>
                </label>
              </div>
              <div class="form-group">
                <label class="el_name">Created Date</label>
                <label class="el_value">{{articleDetails?.created | date:dateType.DATE_WITH_TIME | emptyValue}}</label>
              </div>
              <div class="form-group">
                <label class="el_name">Article Description</label>
                <label class="el_description"
                  (click)="openDescriptionBox('Article Description',articleDetails?.description)">{{articleDetails?.description |emptyValue}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

</div>
