<form [formGroup]="filter">
  <mat-form-field class="search_filter" appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status">
      <mat-option *ngFor="let sta of status" [value]="sta.value">{{sta.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Registration Date From</mat-label>
    <input matInput [matDatepicker]="picker" (click)="picker.open()" formControlName="fromDate" [max]="today" readonly
      (dateChange)="selectFromDate($event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Registration Date To</mat-label>
    <input matInput [matDatepicker]="picker2" (click)="picker2.open()" formControlName="toDate" [max]="today"
      [min]="f.fromDate.value" readonly>
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
  <div class="row">
    <div class="col">
      <mat-checkbox color="primary" formControlName="isFLgMembership">FLG Members</mat-checkbox>
    </div>
  </div>
</form>
