<div class="mat-card">
  <form [formGroup]="changePasswordForm" class="change_password custom-padding" (ngSubmit)="changePasswordHandler()">

    <mat-form-field appearance="outline" class="mb-2">
      <mat-label>Old Password</mat-label>
      <input #oPass matInput formControlName="oldPassword" [type]="hide ? 'password' : 'text'"
        [maxlength]="limit?.MAX_PASSWORD_LENGTH" required>
      <mat-icon class="pointer" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
      </mat-icon>
      <mat-error class="error-message" *ngIf="f.oldPassword.hasError('required')">{{errorMsg?.OLD_PASSWORD_REQ}}</mat-error>
      <mat-error class="error-message" *ngIf="f.oldPassword.hasError('pattern')">{{errorMsg?.INVALID_OLD_PASSWORD}}</mat-error>
      <mat-error class="error-message" *ngIf="f.oldPassword.hasError('space')">{{errorMsg?.NO_SPACE_OLD_PASSWORD}}</mat-error>
      <mat-error class="error-message" *ngIf="f.oldPassword.hasError('incorrect')">{{errorMsg?.WRONG_OLD_PASSWORD}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mb-2">
      <mat-label>New Password</mat-label>
      <input #pass matInput formControlName="password" [type]="hide1 ? 'password' : 'text'"
        [maxlength]="limit?.MAX_PASSWORD_LENGTH" required>
      <mat-icon class="pointer" matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}
      </mat-icon>
      <mat-error class="error-message" *ngIf="f.password.hasError('required')">{{errorMsg?.NEW_PASSWORD_REQ}}</mat-error>
      <mat-error class="error-message" *ngIf="f.password.hasError('pattern')">{{errorMsg?.INVALID_NEW_PASSWORD}}</mat-error>
      <mat-error class="error-message" *ngIf="f.password.hasError('space')">{{errorMsg?.NO_SPACE_NEW_PASSWORD}}</mat-error>
      <mat-error class="error-message" *ngIf="f.password.hasError('match')">{{errorMsg?.OLD_NEW_PASSWORD_MATCH_ERR}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mb-2">
      <mat-label>Confirm New Password</mat-label>
      <input #cPass matInput formControlName="confirmPassword" [type]="hide2 ? 'password' : 'text'"
        [maxlength]="limit?.MAX_PASSWORD_LENGTH" required>
      <mat-icon class="pointer" matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}
      </mat-icon>
      <mat-error class="error-message" *ngIf="f.confirmPassword.hasError('required')">{{errorMsg?.C_PASSWORD_REQ}}</mat-error>
      <mat-error class="error-message" *ngIf="f.confirmPassword.hasError('pattern')">{{errorMsg?.INVALID_C_PASSWORD}}</mat-error>
      <mat-error class="error-message" *ngIf="f.confirmPassword.hasError('space')">{{errorMsg?.NO_SPACE_C_PASSWORD}}</mat-error>
      <mat-error class="error-message" *ngIf="f.confirmPassword.hasError('notMatch')">{{errorMsg?.CONFORM_PASSWORD_MATCH_ERR}}</mat-error>
    </mat-form-field>

    <div class="form-btn">
      <button mat-stroked-button type="button" (click)="cancelHandler()"> Cancel </button>
      <button mat-flat-button color="primary" type="submit" [disabled]="changePasswordForm.disabled"> Submit </button>
    </div>
  </form>
</div>
