@import 'mix';
@include form-btn(center);

.change_password{
  max-width: 600px;
    margin: 0px auto;
}
.custom-padding
{
  padding-top: 23px;
}
.mb-2{
  margin-bottom: 10px;
  @media(max-width:576px){
    margin-bottom: 30px;
  }
}
.error-message{
  font-size: 12px;
}
