@import "var";

.permission_table th,
.permission_table td {
  padding: 10px 5px;
}

.permission_table {
  overflow: auto;
  min-width: 800px;
  padding: 0px 0px;
  padding-bottom: 10px;
  transition: .3s ease-in;
  @media(max-width:1400px){
    height: 500px;
  }
  table {
    width: 100%;
    border: 1px solid $secondary-light;
    thead {
      th {
        font-size: 16px;
        color: $white;
        position: sticky;
        z-index: 999;
        top: 0px;
       background: $primary;
        padding: 15px 5px;
        @media (max-width: 767px) {
          font-size: 16px;
        }
      }
    }
    tbody {
      td {
        font-size: 16px;
        white-space: nowrap;
        border-bottom: 1px solid $secondary-light;
      }
      .permison-content {
        font-size: 15px;
        .without-icon {
          margin-left: 22px;
        }
        .success-done {
          position: relative;
          font-size: 21px;
          top: 4px;
          color: green;
        }
      }
    }
  }
}
// .permission_table{
//   table{
//     thead{
//       tr{
//         td{
//           position: sticky;
//           top:0;
//         }
//       }
//     }
//   }
// }
