@import "var";
@import "mix";
.livwell-video-add {
  padding-bottom: 0px;
  padding: 35px;
}
.add-btn {
  @include btn;
  background: #900968;
}
.cancle-btn {
  @include btn;
  background: #868285;
}
.btn-section {
  display: flex;
  margin-bottom: 20px;
}
