<div class="panel-wrap">
  <lv-data-loader *ngIf="isApiCallInProgress;else apiHit"></lv-data-loader>
  <ng-template #apiHit>
    <div class="panel">
      <div class="col-xl-12">
        <div class="row">
          <div class="col-sm-6 col-6 panel-header"> Subscription Details</div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row align-items-center">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">

            <div class="detail-row ">
              <div class="form-group">
                <label class="el_name">Transaction Id</label>
                <label class="el_value">{{paymentDetails?.transaction_id |emptyValue}}</label>
              </div>
              <div class="form-group">
                <label class="el_name">User Name</label>
                <label class="el_value">{{paymentDetails?.fullName |titlecase | emptyValue}}
                  ({{paymentDetails?.userId?.uid |emptyValue}})</label>
              </div>
              <div class="form-group">
                <label class="el_name">Amount</label>
                <label class="el_value">{{paymentDetails?.currencySymbol}}{{paymentDetails?.amount}}</label>
              </div>
              <div class="form-group">
                <label class="el_name">Platform</label>
                <label class="el_value">{{paymentDetails?.platform=='1' ? 'Android' : 'iOS'}}</label>
              </div>
              <div class="form-group">
                <label class="el_name">Subscription Start Time</label>
                <label class="el_value">{{paymentDetails?.currentPeriodStart |date:dateType.VALIDITY_TIME }}</label>
              </div>
              <div class="form-group">
                <label class="el_name">Subscription End Time</label>
                <label class="el_value">{{paymentDetails?.currentPeriodEnd |date:dateType.VALIDITY_TIME }}</label>
              </div>
              <div class="form-group">
                <label class="el_name">Subscription Validity</label>
                <label class="el_value status">
                  <span [ngClass]="paymentDetails?.validity">{{paymentDetails?.validity | formatStatus}}</span>
                </label>
              </div>
              <div class="form-group">
                <label class="el_name">Current Subscription Status</label>
                <label class="el_value status">
                  <span [ngClass]="paymentDetails?.status">{{paymentDetails?.status | formatStatus}}</span>
                </label>
              </div>
              <div class="form-group">
                <label class="el_name">Created Date</label>
                <label class="el_value">{{paymentDetails?.created | date:dateType.DATE_WITH_TIME | emptyValue}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

</div>
