@import "var";
@import "mix";
@import "grid";
@include status;
@include details-section;
@include details-form-section;

.panel-wrap {
  @include panel;
  @include img(100%, 320px, cover, 0%);
  margin-bottom: 25px;
}
.image-videos {
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .image-videos {
    flex-wrap: wrap;
  }
}
.btn-section {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  .add-btn {
    @include btn;
    background: #900968;
  }
  .cancle-btn {
    @include btn;
    background: #afacae;
  }
}
.detail-links {
  color: #900968;
  &:hover {
    color: #6d6e70;
  }
}
.place-icons {
  position: relative;
  top: 7px;
}
