<mat-table-renderer notFound="Categories not added" placeholder="Search by Category Name" cls="{{permissionClass}}" [heading]="heading"
  [isCategoryButtonGroup]="true" (buttonGroupStatus)="getButtunGroupStatus($event)" (add)="addCategories($event)"
  (find)="paginationWithSearch($event,0)" (page)="paginationWithSearch($event,1)" (status)="changeStatus($event)"
  (sort)="sortByListing($event)" (filter)="submitFilter($event)">
  <div role="filter">
    <form [formGroup]="filterForm">
      <mat-form-field class="search_filter" appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let sta of status" [value]="sta.value">{{sta.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
</mat-table-renderer>
