<lv-button-group (filter)="submitFilter($event)" [isFilterButtonVisible]="true">
  <div role="filter">
    <form [formGroup]="filterForm">
      <mat-form-field class="search_filter" appearance="outline">
        <mat-label>Reward Type</mat-label>
        <mat-select formControlName="rewardType">
          <mat-option *ngFor="let sta of status" [value]="sta.value">{{sta.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="search_filter" appearance="outline">
        <mat-label>Reward History Type</mat-label>
        <mat-select formControlName="rewardHistoryType">
          <mat-option *ngFor="let sta of rewatd_history_types" [value]="sta.value">{{sta.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
</lv-button-group>

<mat-table-renderer notFound="AuditLog not found" cls="removeSearch removeAddButton removeFilter" [heading]="heading"
  (page)="paginationWithSearch($event,1)">
</mat-table-renderer>