<mat-table-renderer placeholder="Search by User Name" cls="removeAddButton" 
[addCustomClass]="''"  [permissionId] = "SECTION_ID_OF.CLASSES" [heading]="heading"
  (export)="downloadList($event)" (find)="paginationWithSearch($event,0)" (page)="paginationWithSearch($event,1)"
  (filter)="filterApply($event)" (sort)="sortByListing($event)">
  <div role="filter">
    <form [formGroup]="filterForm">
      <mat-form-field class="search_filter" appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let sta of bookingStatus" [value]="sta.value">{{sta.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
</mat-table-renderer>
