<mat-toolbar color="primary" class="header">
  <button class="menu-toggle" mat-button (click)="sidenav.toggle()">
    <mat-icon class="hamburger">menu</mat-icon>
  </button>
  <lv-header></lv-header>
</mat-toolbar>

<mat-sidenav-container>

  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
    [fixedTopGap] (click)="closeSideNav()">
    <lv-sidebar></lv-sidebar>
  </mat-sidenav>
  <!-- /Sidenav -->

  <!-- Main content -->
  <mat-sidenav-content>
    <lv-breadcrumb></lv-breadcrumb>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
  <!-- /Main content -->

</mat-sidenav-container>
