@import "mix";
@import "var";

@include status;
@include club-anchor;
@include mat-fab;

:host {
  display: block;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 0px;
  padding-right: 16px;
  background-color: #fff;
}


@media (max-width: 568px) {
  .mat-button-toggle-group {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    white-space: nowrap;
    overflow: scroll;
    border-radius: 2px;
    -webkit-tap-highlight-color: transparent;
    overflow-y: hidden;
  }
}

.mat-toogle-custom {
  margin-top: 4px;
  display: flex;
  justify-content: flex-end;
  max-height: 57px;
  flex-wrap: wrap;
  margin-bottom: 4px;
  @media (max-width: 400px) {
    margin-bottom: 22px;
  }
  .cst-toogle-btn {
    text-align: right;
  }
}

.outer-btn {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 4px 9px;
  font-size: 13px;
  transition: 0.5s all;
  &:hover {
    background-color: #fca3e1;
    color: black;
  }
}

.mat-button-toggle-checked {
  background-color: #e9cee1;
}

::ng-deep {
  @media (max-width: 320px) {
    .mat-paginator-range-label {
      margin: 0px 6px 0 -3px !important;
    }
  }
}
.cst-scroll::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}
.cst-scroll::-webkit-scrollbar-thumb {
  background: #900968;
  border-radius: 10px;
}
.cst-scroll::-webkit-scrollbar-track {
  background: #ccc;
}

::ng-deep {
  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 48px;
    padding: 0px 0px !important;
    max-width: 107px;
    font-size: 13px !important;
    min-width: 54px;
  }
}

.filter_btn {
  margin-left: 10px;

  .custom-gap {
    margin: 8px 3px;
  }
}

