<div class="page-not-found">
  <div class="container">

    <div class="row">
      <div class="col-sm-4 offset-sm-1">
        <img class="gif_icon" src="assets/images/pageerror.gif" alt="">
      </div>
      <div class="col-sm-6" *ngIf="!linkExpired">
        <h1> 404 </h1>
        <h3> Page not Found </h3>
        <h4> Oops, We can't seem to find the page you're looking for.... </h4>
        <button class="back_btn" [routerLink]="['/']">Back to Dashboard</button>
      </div>
      <div class="col-sm-6" *ngIf="linkExpired">
        <h3> Link Expired </h3>
        <button class="back_btn" [routerLink]="['/']">Back to Login</button>
      </div>
    </div>
  </div>
</div>
